.containerMainMarvel{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10rem 3rem;
    width: 100%;
    height: auto;
    background-color: #203239;
    overflow-x: hidden;
}
.titleComics{
    font-size: 4rem;
    font-weight: bold;
    color: aliceblue;
    margin-bottom: 2rem;
}